/*
* Style for hi5Vietnam version 0.1
* Author: Hung Nguyen
* Create dated: 7/7/2014
*/

@import "./reset.css";
@import "./color.css";

body{
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: 300;
	/*text-shadow: 0 2px 5px #ddd;*/
	overflow-x: hidden;
	height: 100%;
}


.title-item{
	color: #333;
	font-size: 20px;
	font-weight: 500;
	display: block;
	margin-bottom: 10px;
	height: 25px;
	overflow: hidden;
}
.title-item:hover{
	text-decoration: none;
	color:orange;
}

.social-item{
	border-top: 1px solid #ccc;
	background: #f2f2f2;
	padding: 5px;
	border-bottom: 1px solid #ccc;
}

.label-viewmore{
	font-size: 50%;
	border-radius: 0;
}

.title-bigger{
	font-size: 60px;
	color: orange;
	text-shadow: 0 0 2px #333;
}

/*---------------HEADER---------------*/
.header{
	background: #1A7AD9;
	min-height: 50px;
	color:#fff;

}
.logo {
	padding-top: 0px;
}


/*======================
	NAV TOP & NAV SECOND
=======================*/
.my-nav-top {
	background: none;
	border:none;
	box-shadow: none;
	margin-bottom: 0px;
}

.my-nav-top .nav>li>a {
	position: relative;
	display: block;
	padding: 15px 15px;
	height: 63px;
	line-height: 30px !important;
	text-shadow:none;
	color:#fff;
	font-size: 15px;
}

.my-nav-top .nav>li>a:hover,
.my-nav-top .navbar-nav>.active,
.my-nav-top .navbar-nav>.open,
.my-nav-top .navbar-nav>.active>a
{
	background: #9AC8F4 !important;
	color:#333;
	box-shadow: none;
}

.my-nav-top .btn-acc{
	margin-top: 15px;
}

.nav-second .nav>li>a {
	color:#000;
	line-height: 20px !important;
	height: auto;
}

.nav-second i{
	color:#1A7AD9;
	font-size: 22px;
	vertical-align: middle;
}

.nav-second .nav>li>a:hover,
.nav-second .navbar-nav>.active,
.nav-second .navbar-nav>.open,
.nav-second .navbar-nav>.active>a
{
	background: #E2EEF4 !important;
}

/*------------------------------
|----------LANDING PAGE---------
--------------------------------*/
#hero-banner.landing {
	min-height: 450px !important;
}
.landing .box-search{
	margin-top: 100px;
}
.landing .box-search .form-group label {
	font-size: 30px;
	font-weight: 700;
	text-shadow: 0 0 1px #555;
	color: green;
	display: block;
	text-align: center
}

.landing .box-search i{
	font-size: 20px;
}
.landing .box-search .input-group-addon{
	background-color: #fff;
	cursor: pointer;
}
.landing .box-search input{
	border-radius: 0px;
	border-right:none;
	background-color: #fff
}


/*-------------HERO BANNER-------------*/
#hero-banner{
	min-height: 300px;
	background: url(../../sources/pic5.jpg) no-repeat;
	background-size: cover;
}

.general_info_location {}
.general_info_location h1{
	font-size: 45px;
	color: #fff;
	text-shadow: 0 0 5px #333;
	margin-top: 50px;
	margin-bottom: 30px;
}
.general_info_location li{
	font-size: 30px;
	color: #1A7AD9;
	margin: 0 10px;
}
.general_info_location li i{}
.general_info_location li span{
	display: block;
	margin-top: 10px;
}



/*-----------MAIN CONTENT-------------*/
.main-content{
	min-height: 500px;
	background: #E2EEF4;
	padding-top: 50px;
}

.main-content .row{
	margin-bottom: 15px;
}

.main-content .cat_title{
	font-size: 20px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.item{
	position: relative;
	overflow: hidden;
}

.item:hover > a .social,
.item:hover > .social
{
	display: block
}

.item a,
.item a:hover
{
	text-decoration: none
}
.item img{}
.item .short{
	background: url(../img/bg_transparent.png);
	position: absolute;
	width: 96.5%;
	padding: 5px 15px;
	bottom: 5px;
	left: 5px;
	min-height: 30px;
	color:#fff;
	font-weight: 400;
	font-size: 15px;
}

.item .short span.desc{
	display: block;
	font-size: 11px;
	color: #999;
}

.item .short i{}
.item .social{
	position: absolute;
	top: 10px;
	right: 10px;
	display: none;
}

/*Item For Tips*/
.item.tip .short{
	position: inherit;
	width: 100%;
}

.item.tip .count-like-comment{
	padding-top: 10px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.item.tip textarea{
	border-radius: 2px;
	width: 100%;
	height: 40px;
}


.location-information{
	display: none;
}

.location-information .map{
	width: 500px;
	height: 500px;
}

.location-information .tab-pane{
	padding: 15px 0;
}
.location-information .tab-pane p{
	margin-bottom: 10px;
	line-height: 20px;
}


/*--------------- FOOTER ---------------*/
#footer {
	background: #a1dbff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ExZGJmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjY2NjY2NjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMjglIiBzdG9wLWNvbG9yPSIjZWZlZmVmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNjUlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top,  #a1dbff 0%, #cccccc 0%, #efefef 28%, #ffffff 65%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a1dbff), color-stop(0%,#cccccc), color-stop(28%,#efefef), color-stop(65%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a1dbff 0%,#cccccc 0%,#efefef 28%,#ffffff 65%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a1dbff 0%,#cccccc 0%,#efefef 28%,#ffffff 65%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a1dbff 0%,#cccccc 0%,#efefef 28%,#ffffff 65%); /* IE10+ */
	background: linear-gradient(to bottom,  #a1dbff 0%,#cccccc 0%,#efefef 28%,#ffffff 65%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1dbff', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */


	padding: 20px 0px;

}

#footer .nav-pills>li{
	float: none;
	display: inline-block;
}